@import './../../theme/variables.scss';

.app {
  margin: 20px;
}

.app .title {
  font-family: 'Lobster', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 34px;
  color: $ice;
}
